@use '/src/styles/style.scss' as *;

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.title {
  margin-top: 128px;
  margin-right: 340px;
  font-family: $font-Lato;
  & > h2 {
    font-size: 56px;
  }
  & > p {
    margin-top: 16px;
  }
}
.container {
  width: 1281px !important;
  height: 600px;
  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 60, 118, 0.15);
  margin-bottom: 105px;
  margin-top: 46px;
}
.tabs {
  display: flex;
  position: relative;
}
.selectedTab {
  background-color: $color-white !important;
  border: none;
  border-left: 1px solid $color-secondary;
}
.tab {
  width: 320px;
  height: 40px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 32px;
  margin-bottom: 4px;
  gap: 8px;
  background-color: $color-light-grey;
  font-family: $font-Lato;
  outline: none;
}
.tabList {
  width: 302px;
  height: 216px;
  padding-top: 93px;
  padding-left: 102px;
  position: absolute;
}
.tabPanel {
  width: 702px;
  padding-top: 107px;
  right: 120px;
  font-size: 13px;
  position: absolute;
  white-space: normal;
}
