@use 'styles/style.scss' as *;

.subnav {
  width: 100%;
  height: 40px;
  align-items: center;
  background-color: $color-layout-blue;
  position: absolute;
}
.subNavWrapper {
  max-width: 1280px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  height: 100%;
}

.item {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: $color-white;
  border-right: 1px solid $color-white;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:first-child {
  border-left: 1px solid $color-white;
}

.active {
  background-color: $color-layout-dark-blue;
}

.item:hover {
  background-color: $color-layout-dark-blue;
}
