@use '../../../styles/style' as *;

.container {
  position: relative;
  width: 1040px;
  height: 720px;
  background: url('../../../../public/assets/images/destinations/Individual maps/Mitteigriechenland.png')
    no-repeat center;
  font-weight: $fw-semibold;
}

.revies {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.reviesLocation {
  position: absolute;
  top: 35%;
  right: 46%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.kymi {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kymiLocation {
  position: absolute;
  top: 41%;
  right: 35%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.karistos {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.karistosLocation {
  position: absolute;
  top: 59%;
  right: 25%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.regionCardrevies {
  top: 20%;
}

.regionCardkymi {
  top: 20%;
}
