@use 'styles/style.scss' as *;

.container {
  display: flex;
  padding: 0 80px;
}
.sidebar {
  background-color: $color-light-grey;
  min-width: 240px;
  max-width: 240px;
}
.list {
  max-height: 264px;
  overflow-y: scroll;
  direction: ltr;

  &::-webkit-scrollbar {
    display: none;
  }
}
.description {
  padding: 70px 16px 0;
  font-weight: $fw-medium;
  display: flex;
  flex-direction: column;
}
.select {
  margin-bottom: 32px;
}
.select,
.more {
  cursor: pointer;
  line-height: 14px;
  font-weight: $fw-semibold;
  color: $color-placeholder;
  font-size: 12px;
}
.title {
  margin-bottom: 12px;
  font-size: 32px;
  white-space: normal;
  overflow-wrap: break-word;
  font-weight: $fw-semibold;
}
.text {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 20px;
  overflow-y: scroll;
  font-weight: $fw-regular;

  &::-webkit-scrollbar {
    display: none;
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
