@use 'styles/style.scss' as *;

.wrapper {
  position: absolute;
  flex-shrink: 0;
  min-height: 321px;
  border-radius: 12px;
  border: none;
  color: $color-secondary;
  box-shadow: -8px 4px 22px 10px rgba($color-modal-bg, 0.2);
  z-index: 10000;

  :global(.react-calendar) {
    position: absolute;
    z-index: 10;
    border: none;
  }
  // Navigation
  :global(.react-calendar__navigation) {
    margin-bottom: 20px;
    border-bottom: 0.8px solid $gray-line;
  }
  :global(.react-calendar__navigation button:enabled:hover) {
    background-color: $color-white !important;
  }

  :global(.react-calendar__navigation button:disabled) {
    background-color: $color-white !important;
  }

  // Title
  :global(.react-calendar__navigation button) {
    @include boldText;
    color: $color-layout-blue;
    &:hover {
      background: $color-white;
    }
    &:enabled:focus {
      background: none;
    }
  }

  // Arrows
  :global(.react-calendar__navigation__next-button) {
    font-size: 24px !important;
    color: $color-modal-bg !important;
    text-align: right;
  }
  :global(.react-calendar__navigation__next2-button) {
    font-size: 24px !important;
    color: $color-modal-bg !important;
    text-align: right;
  }
  :global(.react-calendar__navigation__prev-button) {
    font-size: 24px !important;
    transform: scale(-1, 1);
    color: $color-modal-bg !important ;
    text-align: right;
  }

  // Week Days
  :global(.react-calendar__month-view__weekdays__weekday) {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: $color-layout-blue;
    text-transform: none;

    & abbr {
      text-decoration: none;
    }
  }

  // Days
  :global(.react-calendar__month-view__days__day) {
    display: block;
    aspect-ratio: 1;
    padding: 0;
    transform: scale(0.6364);
    font-size: 20px;
    color: $color-layout-blue;
    border-radius: 100%;

    &:disabled {
      background-color: transparent;
      color: $color-modal-bg;
    }
  }
  :global(.react-calendar__tile--now) {
    background-color: $color-sand;
  }
  // Active
  :global(.react-calendar__tile--active),
  :global(.react-calendar__tile--active:enabled:hover),
  :global(.react-calendar__tile--active:enabled:focus) {
    border-radius: 100%;
    color: $color-white;
    background: $color-white;
  }
  /* Safari React-Calendar */
  :global(.react-calendar__month-view__days__day:not(:root:root)) {
    line-height: 45px !important;
  }
}

.inputCalendar {
  max-width: 371px;
  border: 2px solid $color-modal-header;
  padding-top: 3px;
  border-radius: 8px;
  position: relative;
  z-index: 10;
}
.shorten {
  height: 33px;
  display: flex;
  justify-content: start;
  align-items: center;
  & .icon {
    bottom: 6px;
  }
}

.gridWrapper {
  display: flex;
  margin-top: 6px;
  width: 100%;
}
