@use 'styles/style.scss' as *;

.wrapper {
  box-shadow: 0 4px 4px rgba(0, 60, 118, 0.15);
  border-radius: 16px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.tabs {
}

.tabList {
  list-style: none;
  margin: 0;
  padding: 0 85px;
  display: flex;
  align-items: center;
  background-color: $color-modal-header;
}

.tab {
  padding: 16px 12px;
  color: $color-bg-black;
  cursor: pointer;
  position: relative;
  &[aria-selected='true'] {
    background-color: transparent;
    font-weight: 700;
    border: none;
    box-shadow: none;
    outline: none;
    &:before {
      content: '';
      position: absolute;
      width: calc(100% - 24px);
      height: 2px;
      background-color: $color-white-blue;
      border-radius: 3px 3px 0 0;
      bottom: 1px;
      border: none;
    }
  }
}

.tabWrapper {
  display: flex;
}

.contact {
  padding: 16px 12px;
  color: $color-bg-black;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
