@use 'styles/style.scss' as *;

.selects {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.select,
.accommodationSelect,
.selectDirection {
  width: 100%;

  [class$='-control'] {
    background-color: $color-white;
    flex-wrap: nowrap;
  }

  [class$='-ValueContainer'] {
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 5px;
    }
    &::-webkit-scrollbar-track {
      background: $color-layout-light-blue;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-layout-light-blue-2;
      border-radius: 24px;
    }
  }

  [class$='-multiValue'] {
    flex-shrink: 0;
  }
}

.services {
  display: flex;
  font-weight: $fw-medium;
  font-size: 14px;
  align-items: center;
  gap: 32px;
  margin-bottom: 28px;
}

.accommodationSelect {
  max-width: 200px;
  width: 100%;
}

.price {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .tags {
    display: flex;
    box-sizing: content-box;
    gap: 8px;
    max-width: 560px;
    font-weight: $fw-medium;
    padding-bottom: 4px;
  }
  .tag {
    padding-top: 4px;
  }
}

.tabs {
  display: flex;
  gap: 8px;
  border: none;
  padding-left: 0;
  list-style-type: none;
  overflow-x: auto;
  align-items: center;
}

.tab {
  border-radius: 24px;
  cursor: pointer;
  padding: 4px 12px;
  border: 1px solid $color-placeholder;
  color: $color-black;
  white-space: nowrap;
}

.selectedTab {
  background-color: $color-black;
  color: $color-white;
}

.direction {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;

  .selectDirection {
    width: 86px;
    background-color: $color-white;
  }
}
