@use 'styles/style.scss' as *;

.address {
  position: relative;
  height: 89px;
  width: 100%;
  border: 1px solid $color-laros-light-grey;
  border-radius: 8px;
  padding-top: 8px;
  margin-bottom: 8px;
  background-color: $color-white;
}
.addressInputs {
  display: flex;
  flex-wrap: wrap;
}
.addressTitle {
  font-family: $font-Lato;
  font-size: 12px;
  font-weight: $fw-medium;
  color: $color-placeholder;
  padding: 8px;
  text-align: left;
}

.addressZip,
.addressStreet,
.addressRegion {
  font-family: $font-Lato;
  font-size: 14px;
  font-weight: $fw-semibold;
  padding: 0 25px 8px 8px;
  width: 50%;

  &::placeholder {
    color: $color-placeholder;
  }
}
.addressRegion {
  padding-top: 8px;
  width: 100%;
}
.addressIcon1 {
  position: absolute;
  right: 6px;
  bottom: 27px;
}
.addressIcon2 {
  position: absolute;
  bottom: 0;
  right: 6px;
}
