@use 'styles/style.scss' as *;

.container {
  padding: 80px 140px 60px 140px;
  background-color: $color-modal-header;
}

.title {
  font-family: $font-Lato;
  font-weight: $fw-bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}

.hotels {
  margin: 36px 0 50px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 25px;
}
.loading {
  padding: 50px 0 0;
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;
}
