@use 'styles/style.scss' as *;

.hotelCard {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 16px;
  box-shadow: $color-light-grey;
  transition: 0.3s;
  overflow: hidden;
  min-height: 470px;
  border: 1px solid transparent;
}

.footer {
  height: 48px;
  .footerButton {
    height: 100%;
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
}

// HotelChangingCard styles
.hotelCardBorder {
  border: 1px solid $color-light-green;
}
.HotelChangingCardButton {
  background-color: $color-light-green;
}
