@use 'styles/style.scss' as *;

.container {
  position: relative;
  background-size: cover;
  background-position: 25% 100%;
  width: 1040px;
  height: 730px;
  margin-top: -55px;
}

.layoutWrapper {
  max-width: 1280px;
  box-shadow: 0 4px 12px rgba(27, 36, 45, 0.15);
  border-radius: 0 0 16px 16px;
  margin: 0 auto 80px;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 286px;
  left: 171px;
  width: 416px;
}

.title {
  color: $color-white;
  font-size: 56px;
  font-weight: $fw-medium;
  line-height: 67px;
  margin-bottom: 16px;
}

.description {
  color: $color-white;
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 17px;
  margin-bottom: 75px;
}

.actions {
  display: flex;
}

.flightBtn,
.packageBtn {
  font-weight: $fw-semibold;
  line-height: 20px;
}

.flightBtn {
  width: 150px;
  margin-right: 16px;
  background-color: $color-orange;
}

.packageBtn {
  width: 200px;
  background-color: $color-blue;
}
