@use 'styles/style.scss' as *;

.wrapper {
  min-width: 370px;
  border-radius: 16px;
  background-color: $color-white;
  min-height: 590px;
  display: flex;
  flex-direction: column;
}
.image {
  position: relative;
  border-radius: 16px 16px 0 0;
  height: 300px;
  width: 100%;
  background-color: $color-modal-header;
}
.main {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 1px solid $color-about-tabs;
}
.lastRow {
  flex-grow: 2;
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.meta {
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: $color-checkbox-gray;
}

.regionName div:last-child {
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 24px;
  color: $color-primary-black;
}

.fromWrapper {
  padding-right: 20px;
}
.from {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 24px;
  font-weight: $fw-regular;
}
.durationWrapper {
  padding-right: 45px;
}

.tags {
  display: flex;
  padding-top: 13px;
  color: $color-white;
}
.tag {
  margin-right: 8px;
}

.button {
  font-size: 12px;
  font-weight: $fw-bold;
  line-height: 14px;
  text-align: center;
  width: 100%;
  padding: 6px 0;
  border-radius: 0 0 16px 16px;
}

.sale {
  position: absolute;
  top: 12px;
  left: 16px;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 8px;
  color: $color-white;
  background-color: $color-secondary;
}

.wide {
  width: 100%;
  display: flex;
  box-shadow: $color-box-shadow_2;
  flex-direction: row;
  min-height: 310px;

  .image {
    width: 478px;
    height: 310px;
    border-radius: 16px 0 0 16px;
  }
  .row {
    flex-grow: 2;
  }
  .button {
    border-radius: 0 0 16px 0;
  }
}
