@use 'styles/style.scss' as *;

.tripCard {
  min-height: 590px;
  background-color: $color-white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: $color-box-shadow_2;
  overflow: hidden;
}
// card header
.header {
  height: 300px;
  background-color: $color-about-tabs;
  position: relative;
}
.sale {
  position: absolute;
  top: 12px;
  left: 16px;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 8px;
  color: $color-white;
  background-color: $color-secondary;
}

// card main
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.mainWrap {
  flex-grow: 1;
}
.mainContainer {
  width: 60%;
}
.mainContainer2 {
  width: 39%;
}

.label {
  font-weight: $fw-regular;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  text-align: left;
  color: $color-laros-dark-grey;
}

.mainHead,
.mainCenter {
  padding: 16px 24px;
  border-bottom: 1px solid $color-laros-light-grey;
  display: flex;
  justify-content: space-between;
}
.name {
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 24px;
  text-align: left;
  color: $color-dark-blue;
  margin: 4px 0;
}
.price {
  font-size: 20px;
  font-weight: $fw-semibold;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-dark-blue;
  margin: 4px 0;
}

.mainFooter {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  flex-grow: 1;
}
.tag {
  margin-right: 8px;
}

// card footer
.footer {
  height: 48px;
  width: 100%;
}
.footerButton {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

// wide horizontal card styles
.wide {
  width: 100%;
  display: flex;
  box-shadow: $color-box-shadow_2;
  flex-direction: row;
  min-height: 310px;

  .header {
    width: 40%;
    min-height: 310px;
    background-color: $color-about-tabs;
    position: relative;
  }
}
