@import '/src/styles/theme/breakpoints.scss';

.footer {
  width: 100%;
  border-top: 1px solid #e1e2e3;
  background: #fafbfc;
  box-shadow: inset 0px 0.5px 0px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  justify-content: center;
  background: #fafbfc;

  @include mobile {
    flex-direction: column;
  }
}

.partners {
  padding: 71.2px 80px 80px;
  background: rgba(242, 245, 248, 0.3);

  @include mobile-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 51.2px 20px 20px;
  }
}
.blockImg {
  display: flex;

  & > .imgSecond {
    padding-left: 40px;
  }
}

.blockImg:first-child {
  margin-bottom: 90px;
}

.imgFirst {
  margin-right: 80px;
}

/*footer abount*/

.links {
  margin-bottom: 55px;
}

.about {
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 55px;

  @include mobile {
    margin-left: 30px;
  }
}

.subtitleFooter {
  margin-bottom: 16px;
  position: relative;
  span {
    color: #1b242d;
    font-size: 12px;
  }

  @include mobile {
    span {
      font-size: 10px;
    }
  }
}

.listLinks {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.itemLink {
  list-style: none;
}

.link {
  font-size: 12px;
  line-height: 14px;
  margin-right: 30px;
  color: rgba(27, 36, 45, 0.55);
}

.aboutItem {
  margin-bottom: 15px;
  position: relative;
  left: 0;
  list-style: none;
}

.linkNum {
  display: block;
  color: rgba(27, 36, 45, 0.55);
}

.listInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-right: 65px;
  ul {
    padding-left: 0;
  }

  @include mobile {
    padding-right: 20px;
  }
}

.socialList {
  display: flex;
  margin: 0;

  @include mobile {
    flex-direction: column;
  }
}

.socialItem:not(:last-child) {
  margin-right: 22px;
}
.socialItem {
  list-style: none;
}

/*footer navigation*/

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b242d;
  height: 40px;

  @include mobile {
    height: 100%;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.navList {
  display: flex;
  margin: 0;
  // margin-left: 80px;

  @include mobile {
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.navItem {
  color: #f2f5f8;
  list-style-type: none;
  &:last-child .navLink {
    border-right: 0;
  }
}

.navLink {
  color: #f2f5f8;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  border-right: 1px solid #f2f5f8;
  padding: 0 15px;
}

.divideLine {
  margin-right: 15px;
  margin-left: 15px;
  color: #f2f5f8;
}

.textInfo {
  margin-right: 80px;
  p {
    color: #f2f5f8;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
  }
  @include mobile {
    margin: 0;
  }
}
