@use '/src/styles/style.scss' as *;

.wrapper {
  height: 100%;
  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: 16px;
  box-shadow: 0 4px 4px 0 $color-shadow;
  padding: 80px 65px 0;
  margin-bottom: 80px;
  margin-top: 100px;
}

.title {
  font-size: 56px;
  font-weight: $fw-bold;
  margin-bottom: 16px;
}

.subtitle {
  width: 766px;
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.noSelectBtn {
  border-radius: 8px;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: $fw-regular;
  color: $color-placeholder;
  border: 1px solid $color-laros-light-grey;
}

.selectBtn {
  width: 250px;
}

.sort {
  font-size: 20px;
  font-weight: $fw-bold;
  margin-bottom: 24px;
}

.brochuresList {
  display: flex;
  justify-content: start;
  margin: 12px 0;
  flex-wrap: wrap;

  & div:not(:last-child) {
    margin-right: 24px;
  }
}
