@use '/src/styles/style.scss' as *;

.page {
  margin-top: 80px;
  text-align: center;
  color: $color-bg-black;
}

.title {
  margin-bottom: 40px;
  font-weight: $fw-semibold;
  font-size: 40px;
  line-height: 48px;
}

.description {
  font-weight: $fw-regular;
  font-size: 12px;
  width: 50%;
  line-height: 20px;
  margin: 0 auto 80px;
}
.slider {
  width: 85%;
  margin: 0 auto 200px;
  padding: 0 30px;
}
