@use '/src/styles/style.scss' as *;

.contact {
  background: url('../../../public/assets/images/blogs/Frame442.png') center;
  background-size: cover;
  height: 512px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    max-width: 380px;
    font-family: $font-Corinthia;
    font-weight: $fw-light;
    color: $color-modal-header;
    font-size: 60px;
    line-height: 51px;
    text-align: center;
    padding-bottom: 30px;
  }

  & > button {
    width: 113px;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}
