@use 'styles/style.scss' as *;
.tripOffersPage {
  position: relative;
  padding: 170px 0 0;
}
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  height: 540px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.title {
  color: $color-white;
  font-size: 56px;
  margin: 0 165px;
  font-weight: $fw-bold;
  line-height: 67px;
  z-index: 1;
  position: relative;
}
.subTitle {
  width: 835px;
  margin: 0 165px;
  color: $color-white;
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 20px;
  position: relative;
  z-index: 1;
}

.filters {
  width: 90%;
  padding: 40px 65px 60px 85px;
  border-radius: 16px;
  background-color: $color-white;
  box-shadow: 0 4px 4px 0 $color-shadow;
  position: relative;
  margin: 30px auto 0;
  z-index: 1;
}

.filterTitle {
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 24px;
  margin-bottom: 22px;
}

.viewIcon {
  height: 28px;
  width: 28px;
  padding: 6px 6px 2px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.viewSelected {
  background-color: $color-laros-light-grey;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 80px auto 180px;
}
.grid {
  justify-content: space-between;
}
.list {
}
.filterSelects {
  width: 1020px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > div {
    width: calc(1004px / 3);
  }
}
.filterContent {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.sort {
  display: flex;
  align-items: center;
}
.sortFrom {
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 17px;
  margin: 0 9px 0 24px;
}

.select {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 20px;
  [class$='-control'] {
    border: 1px solid $color-laros-dark-grey;
    border-radius: 8px;
    background-color: $color-white;
  }
  [class$='-ValueContainer'] {
    height: 32px;
    overflow-y: scroll;
  }
  [class$='-multiValue'] {
    border-radius: 8px;
    background-color: $color-laros-light-grey;
    font-size: 12px;
    font-weight: $fw-regular;
    line-height: 20px;
  }
  [class$='-placeholder'] {
    color: $color-primary-black;
  }
}

.tags {
  display: flex;
  overflow-x: auto;
  width: 90%;
  padding: 10px 0 20px;
  scrollbar-width: 3px;
  scrollbar-color: $color-white;

  &::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    background-color: $color-modal-bg;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(201, 46, 46, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-bg-black;
    border-radius: 20px; /* закругления плашки */
  }
  span {
    white-space: nowrap;
    background-color: $color-modal-header;
    color: $color-dark-blue;
    border: none;

    &:hover {
      background-color: $color-dark-blue;
      color: $color-white;
    }
  }
}
.tagSwitchFilters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
