@use 'styles/style.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-color: $color-modal-header;
  color: $color-primary-black;
  line-height: 20px;
}

.title {
  font-weight: $fw-bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.description {
  font-size: 12px;
  margin-bottom: 40px;
}

.wrapperImages {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.areasImage {
  position: relative;
  height: 310px;

  &:nth-child(1) {
    width: 29%;
  }
  &:nth-child(2) {
    width: 29%;
  }
  &:nth-child(3) {
    width: 40%;
  }
}
