@use 'styles/style.scss' as *;

.columns {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
}

.label {
  padding: 5px 8px 8px;
  font-size: 12px;
  font-weight: $fw-medium;
  color: $color-checkbox-gray;
  min-width: 120px;
  display: flex;
  align-items: center;
}

.calendarIcon {
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
}

.textDate {
  padding: 8px;
  width: 80%;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
}

.pencilIcon {
  position: absolute;
  right: 18px;
  bottom: 10px;
  cursor: pointer;
}

.error {
  outline: 1px solid red;
}
