@import '/src/styles/style.scss';

.container {
  width: 100%;
  min-height: calc(100vh - 604px);
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $color-light-grey;
  position: relative;
  z-index: 1;
}

.content {
  min-height: 600px;
  width: 100%;
}

.wrapper {
  width: 100%;
  background-color: $color-white;
}
