@use '../../../styles/style' as *;

.container {
  position: relative;
  width: 1040px;
  height: 720px;
  background: url('../../../../public/assets/images/destinations/Individual maps/Sporaden Inseln.png')
    no-repeat center;
  font-weight: $fw-semibold;
}

.igoumenitsa {
  &::after {
    content: '';
    display: block;
    margin: 2px auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.igoumenitsaLocation {
  position: absolute;
  top: 33%;
  right: 79%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.artisti {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.artistiLocation {
  position: absolute;
  top: 32%;
  right: 72%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.ioannina {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.ioanninaLocation {
  position: absolute;
  top: 37%;
  right: 72%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.parga {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.pargaLocation {
  position: absolute;
  top: 42%;
  right: 75%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.ammoudia {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.ammoudiaLocation {
  position: absolute;
  top: 46%;
  right: 70%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.elati {
  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.elatiLocation {
  position: absolute;
  top: 40%;
  right: 63%;
  background: $color-white;
  border-radius: 24px;
  padding: 2px 6px;
}

.kastraki {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kastrakiLocation {
  position: absolute;
  top: 36%;
  right: 59%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.makrinitsa {
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.makrinitsaLocation {
  position: absolute;
  top: 40%;
  right: 52%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.volos {
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.volosLocation {
  position: absolute;
  top: 43%;
  right: 50%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.portaria {
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.portariaLocation {
  position: absolute;
  top: 32%;
  right: 47%;
  background: $color-white;
  border-radius: 24px;
  padding: 2px 4px;
}

.zagora {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.zagoraLocation {
  position: absolute;
  top: 36%;
  right: 43%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.vizitsa {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.vizitsaLocation {
  position: absolute;
  top: 42%;
  right: 39%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.nafpaktos {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.nafpaktosLocation {
  position: absolute;
  top: 65%;
  right: 56%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.delphi {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.delphiLocation {
  position: absolute;
  top: 63%;
  right: 47%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.athen {
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.athenLocation {
  position: absolute;
  top: 76%;
  right: 31%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}
