@use 'styles/style.scss' as *;

.roomCard {
  width: 220px;
  background-color: $color-white;
  color: $color-primary-black;
  border-radius: 8px;
  text-align: center;
}
.roomCardImage {
  margin-bottom: 10px;
  img {
    border-radius: 8px 8px 0 0;
  }
}
.roomCardBody {
  padding: 0 19px 16px;
}
.roomCardTitle {
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 20px;
  &:first-letter {
    text-transform: uppercase;
  }
}
.roomCardInfo {
  margin: 18px 0;
  font-size: 12px;
  font-weight: $fw-medium;
  line-height: 20px;
  color: $color-laros-dark-grey;
}
.roomCardDescription {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 20px;
}
