@use 'styles/style.scss' as *;

.container {
  width: 846px;
  max-height: 700px;
  padding: 40px;
  overflow-y: scroll;
}
.title {
  font-size: 16px;
  font-weight: $fw-bold;
  line-height: 20px;
  margin-bottom: 18px;
}
.current {
  height: 134px;
  min-width: 371px;
  max-width: 500px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: $color-laros-light-grey;
}
.selected {
  background-color: $color-white;
  border: 1px solid $color-light-green;
}
.currentTitle {
  font-size: 12px;
  font-weight: $fw-bold;
  line-height: 14px;
  color: $color-checkbox-gray;
  margin-bottom: 8px;
}
.currentModel {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.headerIcon,
.currentIcon {
  background-color: $color-laros-light-grey;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currentName,
.headerTitle {
  margin-left: 16px;
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 17px;
}
.currentDescription {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 20px;
}
.cars {
  width: 766px;
  border-radius: 8px;
  padding: 16px;
  background-color: $color-light-grey;
  height: 100%;
  margin-bottom: 24px;
}
.header {
  margin-bottom: 24px;
}
.headerContainer {
  height: 32px;

  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.headerIcon {
  background-color: $color-bg-black;
}
.headerTerms {
  margin-left: 445px;
  font-size: 12px;
  font-weight: $fw-medium;
  line-height: 20px;
}
.termsLink {
  color: $color-secondary;
}
.carsList {
  overflow-y: scroll;
  max-height: 300px;
}
.tabList {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-laros-light-grey;
  padding-top: 0;
  margin: 0;
}
.tab {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 17px;
}
.selectedTab {
  font-weight: $fw-bold;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 92px;
    height: 3px;
    background: $color-secondary;
    border-radius: 3px 3px 0px 0px;
    bottom: 0;
  }
}
.actions {
  display: flex;
}
