@use '../../../styles/style' as *;

.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: 500px;
  height: 1068px;
  width: 1040px;
}

/*Sub */

.sub__gr1 {
  position: absolute;
  transition: all 0.2s ease-in;
  margin-right: 206px;
  margin-top: 248px;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
}

.sub__gr2 {
  position: absolute;
  margin-right: 102px;
  margin-top: 188px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
}

.sub__gr3 {
  position: absolute;
  margin-top: 20px;
  margin-left: 200px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
}

.sub__gr4 {
  position: absolute;
  margin-top: 300px;
  margin-left: 256px;
  transition: 0.2s all ease-in;
  transform: rotate(0.5deg);
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  z-index: 1;
}

.sub__gr5 {
  position: absolute;
  margin-top: 424px;
  margin-right: 48px;
  transition: 0.2s all ease-in;
  z-index: 1;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
}

.sub__gr6 {
  position: absolute;
  margin-top: 336px;
  margin-left: 236px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
}

.sub__gr7 {
  position: absolute;
  transition: 0.2s all ease-in;
  margin-left: 614px;
  margin-top: 134px;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
}

.sub__gr8 {
  position: absolute;
  margin-top: 460px;
  margin-left: 470px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
}

.sub__gr9 {
  position: absolute;
  margin-top: 720px;
  margin-left: 400px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
}

.sub__gr10 {
  position: absolute;
  margin-top: 520px;
  margin-left: 980px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
}

.wrapper {
  position: relative;
}

.cartShown_1 {
  left: 40%;
  bottom: 70%;
}

.cartShown_2 {
  left: 60%;
  top: 20%;
}

.cartShown_3 {
  left: 60%;
  top: 20%;
}

.cartShown_4 {
}

.cartShown_5 {
  left: 70%;
  bottom: 90%;
}

.cartShown_6 {
  bottom: 50%;
}

.cartShown_7 {
  left: 100%;
  bottom: 40%;
}

.cartShown_8 {
  left: 60%;
  bottom: 80%;
}

.cartShown_9 {
}

.cartShown_10 {
  left: 50%;
  bottom: 70%;
}

.map1:hover {
  fill: $color-sub-r1;
}

.map2:hover {
  fill: $color-sub-r2;
}

.map3:hover {
  fill: $color-sub-r1;
  z-index: 1;
}

.map4:hover {
  fill: $color-sub-r4;
}

.map5:hover {
  fill: $color-sub-r5;
}

.map6:hover {
  fill: $color-sub-r6;
}

.map7:hover {
  fill: $color-sub-r6;
}

.map8:hover {
  fill: $color-sub-r7;
}

.map9:hover {
  fill: $color-sub-r8;
}

.map10:hover {
  fill: $color-sub-r7;
}
