@use 'styles/style' as *;
.wrapper {
  width: 70%;
  margin: 0 auto;
  background-color: rgba(242, 245, 248, 1);
}

.title {
  font-weight: $fw-bold;
  font-size: 16px;
  padding-top: 80px;
  padding-bottom: 8px;
  text-align: center;
}

.subtitle {
  font-weight: $fw-regular;
  font-size: 12px;
  padding-bottom: 64px;
  text-align: center;
}
.buttonNext {
  right: -100px;
}
.buttonPrev {
  left: -100px;
}
