@use 'styles/style.scss' as *;

.calendarIcon {
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
}

.label {
  padding: 8px;
  font-size: 12px;
  font-weight: $fw-medium;
  color: $color-placeholder;
  min-width: 120px;
  display: flex;
  align-items: center;
}

.textDate {
  width: 80%;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  input {
    text-align: left;
  }
}

.pencilIcon {
  cursor: pointer;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.error {
  outline: 1px solid red;
}
