@use 'styles/style.scss' as *;

.wrapper {
  color: $color-dark-blue;
}
.title {
  font-size: 16px;
  font-weight: $fw-bold;
  line-height: 20px;
  text-align: left;
}
.description {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 20px;
  text-align: left;
  margin-top: 8px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 40px;
}

.name {
  position: absolute;
  z-index: 1;
  bottom: 16px;
  left: 24px;
  font-size: 12px;
  font-weight: $fw-bold;
  line-height: 20px;
  text-align: left;
  color: $color-white;
}
