@use '/src/styles/style.scss' as *;

.review {
  text-align: start;
  max-height: 375px;
  background: $color-light-grey;
  box-shadow: 0 18px 18px rgba(0, 60, 118, 0.05);
  border-radius: 16px;
  position: relative;
  overflow: scroll;
  padding: 40px;
  &::-webkit-scrollbar {
    display: none;
  }
}
.name {
  font-size: 16px;
  font-weight: $fw-semibold;
  line-height: 20px;
  margin-bottom: 4px;
}
.tripName {
  font-size: 12px;
  font-weight: $fw-bold;
  line-height: 20px;
  margin-bottom: 15px;
  color: $color-laros-dark-grey;
}
.comment {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 20px;
}
.images {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
}
.icon {
  position: absolute;
  top: 40px;
  right: 40px;
}

.profileWithoutAvatar {
}
