$container-width: 90%;
$duration: 0.15s;
$color-white: #fff;

$color-yellow: #f2c94c;
$color-sand: #ffdf8c;
$gray-line: #f6f6f6; // TODO fix names
$color-light-grey: #fafbfc;
$color-laros-light-grey: #c3c6c9;
$color-laros-dark-grey: #9c9ea1;
$orange: #fe5f1e;
$color-light-green: #e2edcf;
$color-olive: #e2edcf;
$color-purple: #ded5ea;
$color-dark-red: #a0151a;
$color-brown: #4f3e34;
$color-blue: #2c216f;
$color-black: #000;
$color-primary-black: #1b242d;

$color-light-black: #333;
$color-bg-black: #1b242d;
$color-bg-gallery: rgba(0, 0, 0, 0.9);
$color-layout-blue: rgba(0, 60, 118, 0.75);
$color-layout-light-blue: rgba(0, 60, 118, 0.15);
$color-layout-light-blue-2: rgba(0, 60, 118, 0.25);
$color-layout-dark-blue: rgba(0, 60, 118, 1);
$color-white-blue: #0abaee;

$color-modal-bg: #c4c4c4;
$color-modal-header: #f2f5f8;

$color-light-grey: #fafbfc;
$color-shadow: #003c7626; // TODO rename
$color-dark-blue: #1b242d;
$color-primary: #003c76;
$color-primary-dark-blue: #21386c;
$color-secondary: #0abaee;
$color-placeholder: #c3c6c9;
$color-checkbox-gray: #9c9ea1;
$color-light-green: #6fcf97;
$color-bright-green: #27ae60;
$color-laros-light-grey: #f2f5f8;
$color-lazur: #00b7eb;
$color-blue-link: #0066eb; // Could't get real color from figma TODO
$color-card-placeholder: #d9d9d9;
$color-about-tabs: #f2f5f8;
$color-range-bg: #bdbdbd;
$color-range: #333333;
$color-lazur-label: #2d9cdb;
$color-blue-label: #2f80ed;
$color-orange: #f2994a;
$color-box-shadow: 0px 4px 12px rgba(27, 36, 45, 0.15);
$color-box-shadow_2: 0 18px 18px 0 rgba(0, 60, 118, 0.05);
$color-modal-bg-blue: rgba(0, 60, 118, 0.4);
$color-red: red;

$areas-of-gradient: linear-gradient(
  360deg,
  #1b242d 0%,
  rgba(250, 251, 252, 0) 35.75%
);

$color-sub-r1: #f5bb2c;
$color-sub-r2: #2f6bb4;
$color-sub-r4: #22aaa8;
$color-sub-r5: #a2cf6c;
$color-sub-r6: #907c72;
$color-sub-r7: #814d99;
$color-sub-r8: #be007d;
