@use 'styles/style.scss' as *;

.accordion {
  background-color: $color-light-grey;
  margin-bottom: 8px;
  color: $color-dark-blue;
}

.accordionTab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 12px 16px;
  height: 41px;
  cursor: pointer;
}
.title {
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 17px;
  letter-spacing: 0.02em;
}
.content {
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 10px 15px;
}

.button {
  font-size: 20px;
  font-weight: $fw-semibold;
}

.minus {
  position: relative;

  &::after {
    content: '';
    height: 2px;
    width: 9px;
    background-color: $color-placeholder;
    position: absolute;
    top: 50%;
    right: 1px;
  }
}
