@use 'styles/style.scss' as *;

.wrapper {
  padding: 24px 85px 80px;
  color: $color-light-black;
}

.textWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.button {
  padding: 24px 0;
}

.card {
  padding: 32px 0;
  display: flex;
  gap: 24px;
  width: 100%;
}

.imageWrapper {
  width: 100%;
}

.image {
  border-radius: 8px;
}

.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.day {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.greyText {
  color: $color-range-bg;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.btn {
  background-color: transparent;
  border: none;
  color: $color-range-bg;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  cursor: pointer;
}

.hotel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}
