@use 'styles/style.scss' as *;

.head {
  min-width: 800px;
  margin: 32px 0 0 85px;
  padding-bottom: 40px;
  text-align: left;
}
.title {
  font-size: 16px;
  font-weight: $fw-bold;
  line-height: 20px;
  margin-bottom: 8px;
}
.rooms {
  padding: 0 30px;
  width: 100%;
  max-width: 1000px;
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  & > div {
    margin-bottom: 40px;
  }
  & > div:not(:first-child) {
    margin-left: 24px;
  }
}
.actions {
  width: 100%;
  border-top: 1px solid $color-modal-bg;
  display: flex;
  padding: 24px 0 24px 85px;
}
