@use 'styles/style' as *;

.hotelIntro {
  background-color: $color-light-grey;
  margin: 80px;
  border-radius: 16px;
  display: flex;
  box-shadow: 0 4px 12px 0 rgba(0, 60, 118, 0.05);
}
.hotelIntroLeft {
  width: 65%;
  padding: 56px;
}
.hotelIntroRight {
  width: 40%;

  img {
    border-radius: 0 16px 0 0;
  }
}
.rating {
  span {
    margin-right: 10px;
    color: $color-yellow !important;
  }
}
.hotelIntroAddress {
  font-size: 16px;
  font-weight: $fw-regular;
  line-height: 19px;
  color: $color-laros-dark-grey;
  margin: 17px 0 8px;
}
.hotelIntroName {
  font-size: 48px;
  font-weight: $fw-bold;
  line-height: 58px;
  color: $color-bg-black;
}
.hotelIntroDescription {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 20px;
  margin-top: 16px;
  color: $color-bg-black;
}
.hotelIntroSeeMore {
  font-weight: $fw-bold;
  font-size: 12px;
  line-height: 14px;
  color: $color-laros-dark-grey;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 16px;
}
.map {
  width: 100%;
  height: 425px;
  border-radius: 0 16px 0 0;
  overflow: hidden;
}
.tagsTitle {
  margin: 28px 0 12px 15px;
}
.tagsPanel {
  padding: 0 16px 30px;
}
