@use 'styles/style' as *;

.hotelIntro {
  background-color: $color-light-grey;
  margin: 80px;
  border-radius: 16px;
  display: flex;
  box-shadow: 0 4px 12px 0 rgba(0, 60, 118, 0.05);
  position: relative;
  z-index: 1;
}
.left {
  width: 65%;
  padding: 56px;
}
.right {
  width: 40%;

  img {
    border-radius: 0 16px 0 0;
  }
}
.rating {
  span {
    margin-right: 10px;
  }
}
.address {
  font-size: 16px;
  font-weight: $fw-regular;
  line-height: 19px;
  color: $color-laros-dark-grey;
  margin: 17px 0 8px;
}
.name {
  font-size: 48px;
  font-weight: $fw-bold;
  line-height: 58px;
  color: $color-bg-black;
}
.description {
  margin-top: 16px;
  height: 65px;
  padding-right: 20px;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 20px;

  &::-webkit-scrollbar {
    height: 8px;
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: $color-modal-header;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-laros-dark-grey;
    border-radius: 24px;
    border: 1px solid $color-light-grey;
  }
}

.map {
  width: 100%;
  height: 425px;
  border-radius: 0 16px 0 0;
  overflow: hidden;
  background-color: $color-laros-light-grey;
}
.tagsTitle {
  margin: 28px 0 12px 15px;
}
.tagsPanel {
  padding: 0 16px 30px;
}
