@use 'styles/style.scss' as *;

.headerBg {
  height: 320px;
  width: 100%;
  background-image: url('../../../public/assets/images/contact/contactPageBg.jpg');
  background-size: cover;
}

.container {
  max-width: 1280px;
  margin: -47px auto 80px;
  background-color: $color-white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: $color-box-shadow;
}

.content {
  width: 100%;
}

.mapWrapper {
  width: 100%;
  height: 560px;
}
